/* clearfix: */
.filter:before,.isotope:before,.filter:after,.isotope:after{display:table;content:" "}
.filter:after,.isotope:after{clear:both}

/* list of filters 
--------------------- */
.filter {
  list-style: none;
  position: relative;
  display: block;
  text-align: center;
  margin: 20px auto 10px;
  padding: 0
}

.filter li {
  display: inline-block;
  float: none;
  margin: 0 auto;
  padding: 5px
}

/* grid 
--------------------- */
.isotope {
  margin: 0 auto
}

/* brick 
--------------------- */
.brick{float:left;color:#222;border-color:hsla(0,0,0,0.4)}

/* Extra small devices (phones - fewer than 768 pixels) */
.sizer,.brick{width:100%;height:auto}

/* Small devices (tablets - 768 pixels and up) */
@media (min-width: 768px) {
  .sizer,.brick{width:160px;height:auto}
  .brick.brick-lg{width:320px}
  .brick.brick-md{width:320px}
  .brick.brick-sm{width:160px}
}

/* Medium devices (desktops - 992 pixels and up) */
@media (min-width: 992px) {
  .sizer,.brick{width:160px;height:auto}
  .brick.brick-lg{width:480px}
  .brick.brick-md{width:320px}
  .brick.brick-sm{width:160px}
}

/* Large devices (large desktops - 1200 pixels and up) */
@media (min-width: 1200px) {
  .sizer,.brick{width:160px;height:auto}
  .brick.brick-lg{width:480px}
  .brick.brick-md{width:320px}
  .brick.brick-sm{width:160px}
}

.brick > div {
  position: relative;
  color: #222;
  background: #fff;
  border:1px solid #ccc;
  border:1px solid rgba(0,0,0,.2);
  margin: 5px;
  padding: 4px
}

.brick > div > img, .brick > div > a > img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto
}
.brick > div > div {
  padding: 9px
}

.brick .name{}
.brick .symbol{}
.brick .number{}
.brick .weight{}

.brick.brick-md > div > div > h3 {
  margin-top: 0
}